.home-parent-div {
  background: rgba(0, 0, 0, 0.4) url("/src/images/Rectangle\ 1.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-position: bottom;
}

.head-cox {
  font-family: Bebas Neue;
  font-size: 98px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0em;
  text-align: left;
}
.paragraph-p {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}
.booking-btn {
  padding: 12px 29px;
  gap: 10px;

  width: 161px;
  height: 48px;
  left: 135px;
  top: 456px;
  font-weight: 500;
  background: #f9a51a;
  border-radius: 5px;
}
.text-white {
  color: white;
}
