.home-parent-div {
  background: rgba(0, 0, 0, 0.4) url("/src/images/Rectangle\ 1.png");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-position: bottom;
  padding: 20px;
}
.home-grid-div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  margin-left: 10%;
  margin-right: 10%;
}
.head-cox {
  font-family: Bebas Neue;
  font-size: 98px;
  font-weight: 400;
  line-height: 117px;
  letter-spacing: 0em;
}
.paragraph-p {
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.booking-btn {
  padding: 12px 29px;
  gap: 10px;
  margin-top: 20px;
  width: 161px;
  height: 48px;
  left: 135px;
  top: 456px;
  font-weight: 500;
  background: #f9a51a;
  border-radius: 5px;
}

.cart-grid {
}
.contain-div {
  border: 3px solid #f9a51a;
  height: 400px;
}

.photo {
  height: 400px;
}
.name-p {
  font-family: Montserrat;
  color: white;
  font-size: 25px;
  font-weight: 500;
  margin-top: -70px;
  margin-left: 20px;
}
